{% extends 'dtlapp/base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
	{% if messages %}
	{% for i in messages %}
	<div class="alert  alert-{{i.tags}} alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
{{i}}
</div>
{% endfor %}
	{% endif %}
	<div class="card mt-3">
		<div class="card-header bg-secondary text-center">
			<h2>Register Here</h2>
			
		</div>
		<div class="card-body">
			<form method="post">
				{% csrf_token %}

			{{data.as_p}}
			<input type="submit" class="btn btn-outline-success" name="Register">	
			</form>
			
		</div>
		
	</div>
	
</div>


{% endblock %}
