<!DOCTYPE html>
<html>
<head>
	<title>sample</title>
</head>
<body bgcolor="#8AEBF1">
	<center>
		<h1>This is example of html</h1>
	</center>
	<p>Django is a high-level Python web framework that enables rapid development of secure and maintainable websites. Built by experienced developers, Django takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel.
	</p>

	<h3 style="background-color: #F079F5; font-size: 20px; margin-left: 20px; margin-right: 20px; margin-top: 5px; font-style: italic; padding: 5px;text-align: center; border-right:dashed;border-left: dashed; ;">web development with python using Django</h3>













</body>
</html>