h1{
	color: red;
	text-align: center;
}

body{
	background-color: #15F7ED;
}

.st{
	color: blue;
	text-align: center;
}

#st1{
	color: pink;
	text-align: center;
}

.tab{
	text-align: center;
	border: solid;
	table-layout: fixed;
	padding: 2px;
	margin: 2px;

}